body {
  background-color: rgb(106, 109, 210);
  background-image: linear-gradient(to bottom right, rgb(45, 29, 190), rgba(227, 168, 217, 0.617));

}

.boder {
  background-color: white;
  height: 400px;
  width: 325px;
  border-radius: 10px;
  margin: 139px 500px;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  padding-top: 20px;

}
input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 50px;
  margin-bottom: 40px;
  width: 230px;
  outline: none;
  
}
.none {
  border: none;
}
hr {
  margin-bottom: 40px;
}
.login {
  background-color: #0066ff;
  border-radius: 20px;
  justify-content: center;
  width: 218px;
  height: 40px;
  border: none;
  margin-left: 49px;
  color: white;
}
span {
  color: rgba(0, 68, 255, 0.947);
}
.centre {
  text-align: center;
  
}

.click {
  border: none;
  background: none;
  margin-left: 50px;
  margin-bottom: 40px;
  color: #837b7b;
}